.img-grow img{
    transition: 0.25s ease;
}
    
.img-grow img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 0.25s ease;
}

.text-hover:hover{
    color:white;
}